.header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;

  .logo-container {
    height: 100%;
    width: 70px;
    padding: 25px;
  }

  .options {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .option {
      padding: 10px 15px;
      cursor: pointer;
    }
  }
}


@media screen and (max-width: 800px) {
  .header .options {
    width: 70%;

    .option {
      padding: 10px;
    }
  }
}

@media screen and (max-width: 300px) {
  .header {
    flex-direction: column;
    justify-content: center;

    .logo-container {
      width: 100%;
      justify-content: center;

      .logo {
        margin-left: 40%;
      }
    }

    .options {
      width: 100%;
      justify-content: center;
    }
  }
}